# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.iso filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*/player.tcsn filter=lfs diff=lfs merge=lfs -text
Scenes/Characters/player.tscn filter=lfs diff=lfs merge=lfs -text
